/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply styles to the entire page */
body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgb(243, 8, 114),black);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Style the main container */
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
}

/* Style the heading */
.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Style the language selection */
.language {
  margin-bottom: 20px;
}

/* Style the select input */
#language {
  width: 100%;
  padding: 5px;
}

/* Style the button to start recording */
.record {
  background-color: #ed1111;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the button icon */
.icon ion-icon {
  margin-right: 10px;
}

/* Style the result area */
.result {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  min-height: 150px;
  overflow-y: auto;
  margin-bottom: 20px;
}

/* Style the interim text */
.interim {
  color: #19c4c6;
  font-style: italic;
}

/* Style the buttons at the bottom */
.buttons {
  display: flex;
  justify-content: space-between;
}

/* Style the clear and download buttons */
.clear,
.download {
  background-color: #770d0d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 48%;
}

/* Disable the download button initially */
.download[disabled] {
  background-color: #777;
  cursor: not-allowed;
}
